body {
  background: #2a2a2a;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  font-family: 'Poppins', sans-serif;
}

#p5canvas-holder {
  width: 100%;
  height: 90%;
  margin: 0;
}
#ui-bar{
  display: flex;
  background: #111111dc;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 10%;
}
#left-bar,#right-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: auto;
  height: auto;
  width: 45%;
  padding: 8px 18px;
  color: white;
  text-align: center;
}
#playpause{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  background: #505050;
  align-items: center;
  justify-content: center;
}

#left-bar > *,#right-bar > * {
  margin-right: 8px;
}

#ui-bar > p {
  font-size: 20px;
}

#ui-bar > div > h2 {
  margin: 2.5px 0;
}

#status-txt {
  margin-left: auto;
  font-weight: bold;
}

#range-menu {
  background: #7896cf;
  border: 0px solid transparent;
  border-radius: 10px;
  padding: 8px 18px;
}

